# Основная конфигурация Prometheus
global:
  scrape_interval: 15s  # Частота сбора метрик
  evaluation_interval: 15s  # Частота оценки правил

scrape_configs:
  # Конфигурация сбора метрик с Node Exporter
  - job_name: 'node'  # Метрики системы
    static_configs:
      - targets: 
        {% for host in groups['webservers'] %}  # Динамически для всех веб-серверов
        - '{{ hostvars[host].ansible_host }}:9100'
        {% endfor %}

  # Конфигурация сбора метрик логов Nginx
  - job_name: 'nginx'  # Метрики логов Nginx
    static_configs:
      - targets: 
        {% for host in groups['webservers'] %}  # Динамически для всех веб-серверов
        - '{{ hostvars[host].ansible_host }}:4040'
        {% endfor %}